{{define "header"}}
<div>
<nav class="site-header sticky-top py-1">
    <link href="css/header.css" rel="stylesheet">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" href="/">Главная страница</a>
        <a class="py-2 d-none d-md-inline-block" href="/lk">Личный кабинет</a>
        <a class="py-2 d-none d-md-inline-block" href="/ticketinfo">Поиск билета</a>
        <a class="py-2 d-none d-md-inline-block" href="/signup">Регистрация</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Контакты</a>
    </div>
</nav>
</div>
{{end}}